In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option("display.max_rows", 50)
import requests
import json
import time
import random

In [18]:
combined = pd.read_csv('comined.csv')

In [19]:
combined

,Unnamed: 0,popularity,id,video,vote_count,vote_average,title,release_date,original_language,original_title,...,year,pg_rating,imdb_id,runtime,genre,metascore,imdb_rating,votes,gross_us,month
0,0,57.280,278,False,17472,8.7,The Shawshank Redemption,1994-09-23,en,The Shawshank Redemption,...,1994,R,111161,142,Drama,80.0,9.3,2303591,28.34,9
1,1,17.364,19404,False,2418,8.7,Dilwale Dulhania Le Jayenge,1995-10-20,hi,दिलवाले दुल्हनिया ले जायेंगे,...,1995,Not Rated,112870,181,"Drama, Romance",NaN,8.1,62564,NaN,10
2,2,48.154,238,False,13224,8.7,The Godfather,1972-03-14,en,The Godfather,...,1972,R,68646,175,"Crime, Drama",100.0,9.2,1589870,134.97,3
3,3,31.382,424,False,10522,8.6,Schindler's List,1993-11-30,en,Schindler's List,...,1993,R,108052,195,"Biography, Drama, History",94.0,8.9,1195308,96.90,11
4,4,130.760,372058,False,6590,8.6,Your Name.,2016-08-26,ja,君の名は。,...,2016,PG,5311514,106,"Animation, Drama, Fantasy",79.0,8.4,185261,5.02,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
972,972,43.190,408,False,5349,7.1,Snow White and the Seven Dwarfs,1937-12-21,en,Snow White and the Seven Dwarfs,...,1937,Approved,29583,83,"Animation, Family, Fantasy",95.0,7.6,178953,184.93,12
973,973,25.080,82693,False,9174,7.1,Silver Linings Playbook,2012-09-08,en,Silver Linings Playbook,...,2012,R,1045658,122,"Comedy, Drama, Romance",81.0,7.7,654849,132.09,9
974,974,17.416,1900,False,1292,7.1,Traffic,2000-03-23,en,Traffic,...,2000,R,181865,147,"Crime, Drama, Thriller",86.0,7.6,194201,124.12,3
975,975,26.011,16007,False,386,6.9,Death Note,2006-06-17,ja,デスノート,...,2006,Not Rated,758742,126,"Crime, Drama, Fantasy",NaN,7.7,28387,NaN,6
976,976,28.942,351460,False,3031,4.2,Death Note,2017-08-25,en,Death Note,...,2006,Not Rated,758742,126,"Crime, Drama, Fantasy",NaN,7.7,28387,NaN,8

In [20]:
combined.columns

Index(['Unnamed: 0', 'popularity', 'id', 'video', 'vote_count', 'vote_average',
       'title', 'release_date', 'original_language', 'original_title',
       'genre_ids', 'backdrop_path', 'adult', 'overview', 'poster_path',
       'Unnamed: 0.1', 'movie', 'year', 'pg_rating', 'imdb_id', 'runtime',
       'genre', 'metascore', 'imdb_rating', 'votes', 'gross_us', 'month'],
      dtype='object')

In [35]:
combined = combined.explode('genre_ids')

In [36]:
combined

,Unnamed: 0,popularity,id,video,vote_count,vote_average,title,release_date,original_language,original_title,...,year,pg_rating,imdb_id,runtime,genre,metascore,imdb_rating,votes,gross_us,month
0,0,57.280,278,False,17472,8.7,The Shawshank Redemption,1994-09-23,en,The Shawshank Redemption,...,1994,R,111161,142,Drama,80.0,9.3,2303591,28.34,9
1,1,17.364,19404,False,2418,8.7,Dilwale Dulhania Le Jayenge,1995-10-20,hi,दिलवाले दुल्हनिया ले जायेंगे,...,1995,Not Rated,112870,181,"Drama, Romance",NaN,8.1,62564,NaN,10
2,2,48.154,238,False,13224,8.7,The Godfather,1972-03-14,en,The Godfather,...,1972,R,68646,175,"Crime, Drama",100.0,9.2,1589870,134.97,3
3,3,31.382,424,False,10522,8.6,Schindler's List,1993-11-30,en,Schindler's List,...,1993,R,108052,195,"Biography, Drama, History",94.0,8.9,1195308,96.90,11
4,4,130.760,372058,False,6590,8.6,Your Name.,2016-08-26,ja,君の名は。,...,2016,PG,5311514,106,"Animation, Drama, Fantasy",79.0,8.4,185261,5.02,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
972,972,43.190,408,False,5349,7.1,Snow White and the Seven Dwarfs,1937-12-21,en,Snow White and the Seven Dwarfs,...,1937,Approved,29583,83,"Animation, Family, Fantasy",95.0,7.6,178953,184.93,12
973,973,25.080,82693,False,9174,7.1,Silver Linings Playbook,2012-09-08,en,Silver Linings Playbook,...,2012,R,1045658,122,"Comedy, Drama, Romance",81.0,7.7,654849,132.09,9
974,974,17.416,1900,False,1292,7.1,Traffic,2000-03-23,en,Traffic,...,2000,R,181865,147,"Crime, Drama, Thriller",86.0,7.6,194201,124.12,3
975,975,26.011,16007,False,386,6.9,Death Note,2006-06-17,ja,デスノート,...,2006,Not Rated,758742,126,"Crime, Drama, Fantasy",NaN,7.7,28387,NaN,6
976,976,28.942,351460,False,3031,4.2,Death Note,2017-08-25,en,Death Note,...,2006,Not Rated,758742,126,"Crime, Drama, Fantasy",NaN,7.7,28387,NaN,8

In [37]:
combined['genre_ids']

0                      ['Drama', 'Crime']
1          ['Comedy', 'Drama', 'Romance']
2                      ['Drama', 'Crime']
3             ['Drama', 'History', 'War']
4       ['Romance', 'Animation', 'Drama']
                      ...
972    ['Fantasy', 'Animation', 'Family']
973        ['Drama', 'Comedy', 'Romance']
974        ['Crime', 'Drama', 'Thriller']
975    ['Fantasy', 'Mystery', 'Thriller']
976     ['Fantasy', 'Horror', 'Thriller']
Name: genre_ids, Length: 977, dtype: object

In [27]:
# combo.dtypes

In [38]:
combined.groupby(['month', 'genre_ids'])['imdb_rating'].mean()

month  genre_ids
1      ['Action', 'Comedy', 'Crime']            7.80
       ['Action', 'Drama', 'History', 'War']    7.70
       ['Action', 'Thriller', 'Crime']          7.80
       ['Adventure', 'Drama', 'Western']        8.20
       ['Adventure', 'Romance']                 7.70
                                                ...
12     ['Thriller', 'Crime']                    7.70
       ['War', 'Drama']                         8.30
       ['Western', 'Action']                    7.80
       ['Western', 'Drama', 'Adventure']        8.00
       ['Western']                              8.65
Name: imdb_rating, Length: 683, dtype: float64

In [39]:
combined.groupby(['month', 'genre_ids'])['imdb_rating'].mean().unstack()

genre_ids,"['Action', 'Adventure', 'Animation', 'Crime', 'Drama', 'Mystery', 'Thriller', 'Romance']","['Action', 'Adventure', 'Animation', 'Family']","['Action', 'Adventure', 'Animation', 'Fantasy', 'Horror', 'Mystery', 'Science Fiction']","['Action', 'Adventure', 'Animation', 'Science Fiction', 'Comedy']","['Action', 'Adventure', 'Comedy', 'Crime']","['Action', 'Adventure', 'Comedy', 'Drama', 'War']","['Action', 'Adventure', 'Comedy', 'Fantasy']","['Action', 'Adventure', 'Comedy', 'Science Fiction']","['Action', 'Adventure', 'Comedy']","['Action', 'Adventure', 'Crime', 'Mystery']",...,"['War', 'Drama', 'Thriller', 'Action']","['War', 'Drama']",['War'],"['Western', 'Action', 'Adventure']","['Western', 'Action']","['Western', 'Comedy']","['Western', 'Drama', 'Adventure']","['Western', 'Drama']","['Western', 'Thriller', 'Drama']",['Western']
month,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.00
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,...,NaN,NaN,NaN,NaN,NaN,7.7,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.6,NaN,NaN,...,NaN,NaN,NaN,7.7,NaN,NaN,NaN,NaN,NaN,8.10
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,8.10
6,NaN,7.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7.6,NaN,7.9,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.80
8,NaN,NaN,7.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.20
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.70
10,NaN,NaN,NaN,NaN,NaN,NaN,7.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,7.8,NaN,NaN,8.4,7.7,8.1,NaN,NaN,NaN,7.6,...,NaN,8.3,NaN,NaN,7.8,NaN,8.0,NaN,NaN,8.65