In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option("display.max_rows", 50)

In [3]:
mo = pd.read_csv('zippedData/movies_metadata.csv')

FileNotFoundError: [Errno 2] File zippedData/movies_metadata.csv does not exist: 'zippedData/movies_metadata.csv'

In [ ]:
# mo

In [19]:
df = pd.read_csv('zippedData/IMDb_movies.csv')

C:\Users\berns\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [20]:
df

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,...,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",A psychiatric hospital patient pretends to be ...,5.3,398,NaN,NaN,$ 3507171,NaN,NaN,4.0
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,"Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,7.7,724,NaN,NaN,$ 7299062,NaN,6.0,4.0
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,7.9,265,NaN,NaN,NaN,NaN,NaN,NaN
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,6.4,194,NaN,NaN,$ 2833,NaN,NaN,NaN
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102,NaN,NaN,$ 59794,NaN,NaN,2.0

In [21]:
df.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'avg_vote', 'votes',
       'budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore',
       'reviews_from_users', 'reviews_from_critics'],
      dtype='object')

In [22]:
df.sort_values(by = 'date_published', ascending = False)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
83917,tt8206668,Bad Education,Bad Education,TV Movie 2019,TV Movie 2019,"Biography, Comedy, Crime",108,USA,English,Cory Finley,...,"Hugh Jackman, Ray Romano, Welker White, Alliso...",The beloved superintendent of New York's Rosly...,7.1,23973,NaN,NaN,NaN,79.0,135.0,98.0
84686,tt8764144,A Wakefield Project,A Wakefield Project,2019,2021-05-07,"Horror, Sci-Fi, Thriller",88,"Canada, USA",English,L.A. Lopes,...,"Lindsay Seim, Dennis Andres, Anthony Bewlz, Ro...",The veil between the living and the dead has l...,2.4,266,NaN,NaN,NaN,NaN,12.0,7.0
81909,tt7134296,Shadows in Mind,Shadows in Mind,2019,2021-04-30,Thriller,92,USA,English,Mark Schwab,...,"Corey Jackson, Pano Tsaklas, Christian Gabriel...",A cynical counselor at a crisis hotline finds ...,5.3,254,NaN,NaN,NaN,NaN,5.0,31.0
83083,tt7715192,Winterskin,Winterskin,2018,2021-04-16,"Action, Fantasy, Horror",84,UK,English,Charlie Steeds,...,"David Lenik, Rowena Bentley, Barrington De La ...",Gunned down in the snowy wilderness and desper...,3.7,220,NaN,NaN,NaN,NaN,14.0,12.0
77295,tt5278886,The Terrible Two,The Terrible Two,2018,2021-04-02,"Horror, Thriller",84,USA,English,Billy Lewis,...,"Donny Boaz, Cari Moskow, Reid Doyle, Ariana Ba...",This horror/paranormal thriller follows the li...,2.3,310,$ 35000,NaN,NaN,NaN,23.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0
39150,tt0266688,Karadjordje,Karadjordje,1911,1911,"Drama, War",80,Serbia,Serbian,Ilija Stanojevic-Cica,...,"Jovan Antonijevic-Djedo, Teodora Arsenovic, Vi...",This is the oldest found dramatic film from Se...,6.2,162,NaN,NaN,NaN,NaN,5.0,NaN
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0

In [23]:
df

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,...,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",A psychiatric hospital patient pretends to be ...,5.3,398,NaN,NaN,$ 3507171,NaN,NaN,4.0
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,"Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,7.7,724,NaN,NaN,$ 7299062,NaN,6.0,4.0
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,7.9,265,NaN,NaN,NaN,NaN,NaN,NaN
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,6.4,194,NaN,NaN,$ 2833,NaN,NaN,NaN
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102,NaN,NaN,$ 59794,NaN,NaN,2.0

In [24]:
df.dropna(subset = ['date_published', 'title'], inplace = True)
df

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,...,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",A psychiatric hospital patient pretends to be ...,5.3,398,NaN,NaN,$ 3507171,NaN,NaN,4.0
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,"Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,7.7,724,NaN,NaN,$ 7299062,NaN,6.0,4.0
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,7.9,265,NaN,NaN,NaN,NaN,NaN,NaN
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,6.4,194,NaN,NaN,$ 2833,NaN,NaN,NaN
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102,NaN,NaN,$ 59794,NaN,NaN,2.0

In [25]:
df.drop(['imdb_title_id', 'language', 'metascore', 'reviews_from_users', 'reviews_from_critics'], axis = 1)

,title,original_title,year,date_published,genre,duration,country,director,writer,production_company,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income
0,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN
1,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN
2,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",Fotorama,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN
3,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN
4,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",Ludovic Colbeau-Justin,"Alexandre Coquelle, Matthieu Le Naour",Monkey Pack Films,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",A psychiatric hospital patient pretends to be ...,5.3,398,NaN,NaN,$ 3507171
85851,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,Johan Nijenhuis,"Radek Bajgar, Herman Finkers",Johan Nijenhuis & Co,"Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,7.7,724,NaN,NaN,$ 7299062
85852,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Vineesh Aaradya,"Vineesh Aaradya, Vineesh Aaradya",RMCC Productions,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,7.9,265,NaN,NaN,NaN
85853,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Ahmet Faik Akinci,"Ahmet Faik Akinci, Kasim Uçkan",Gizem Ajans,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,6.4,194,NaN,NaN,$ 2833
85854,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Laura Jou,"Coral Cruz, Pep Puig",La Xarxa de Comunicació Local,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102,NaN,NaN,$ 59794

In [29]:
df.loc[df['year'] > 1970]

TypeError: '>' not supported between instances of 'str' and 'int'

In [30]:
df.dtypes

imdb_title_id             object
title                     object
original_title            object
year                      object
date_published            object
genre                     object
duration                   int64
country                   object
language                  object
director                  object
writer                    object
production_company        object
actors                    object
description               object
avg_vote                 float64
votes                      int64
budget                    object
usa_gross_income          object
worlwide_gross_income     object
metascore                float64
reviews_from_users       float64
reviews_from_critics     float64
dtype: object

In [31]:
df['year'] = df['year'].apply(lambda x: str(x))

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85855 entries, 0 to 85854
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          85855 non-null  object
 1   title                  85855 non-null  object
 2   original_title         85855 non-null  object
 3   year                   85855 non-null  object
 4   date_published         85855 non-null  object
 5   genre                  85855 non-null  object
 6   duration               85855 non-null  int64
 7   country                85791 non-null  object
 8   language               85022 non-null  object
 9   director               85768 non-null  object
 10  writer                 84283 non-null  object
 11  production_company     81400 non-null  object
 12  actors                 85786 non-null  object
 13  description            83740 non-null  object
 14  avg_vote               85855 non-null  float64
 15  votes                  85855 non-null  int64
 16  budget                 23710 non-null  object
 17  usa_gross_income       15326 non-null  object
 18  worlwide_gross_income  31016 non-null  object
 19  metascore              13305 non-null  float64
 20  reviews_from_users     78258 non-null  float64
 21  reviews_from_critics   74058 non-null  float64
dtypes: float64(4), int64(2), object(16)
memory usage: 15.1+ MB

In [33]:
df['year']

0        1894
1        1906
2        1911
3        1912
4        1911
         ...
85850    2020
85851    2020
85852    2019
85853    2019
85854    2019
Name: year, Length: 85855, dtype: object

In [34]:
df['year'].apply(lambda x: float(x))

ValueError: could not convert string to float: 'TV Movie 2019'

In [35]:
df['year'].astype(str)

0        1894
1        1906
2        1911
3        1912
4        1911
         ...
85850    2020
85851    2020
85852    2019
85853    2019
85854    2019
Name: year, Length: 85855, dtype: object

In [36]:
df['year'].astype(int)

ValueError: invalid literal for int() with base 10: 'TV Movie 2019'

In [37]:
df.loc[df['year'] == 'TV Movie 2019']

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
83917,tt8206668,Bad Education,Bad Education,TV Movie 2019,TV Movie 2019,"Biography, Comedy, Crime",108,USA,English,Cory Finley,...,"Hugh Jackman, Ray Romano, Welker White, Alliso...",The beloved superintendent of New York's Rosly...,7.1,23973,NaN,NaN,NaN,79.0,135.0,98.0

In [38]:
df['year'][83917] = 2019

<ipython-input-38-e8b808ca9415>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'][83917] = 2019

In [39]:
df['year'] = df['year'].astype(int)

In [40]:
df.dtypes

imdb_title_id             object
title                     object
original_title            object
year                       int32
date_published            object
genre                     object
duration                   int64
country                   object
language                  object
director                  object
writer                    object
production_company        object
actors                    object
description               object
avg_vote                 float64
votes                      int64
budget                    object
usa_gross_income          object
worlwide_gross_income     object
metascore                float64
reviews_from_users       float64
reviews_from_critics     float64
dtype: object

In [41]:
rt = pd.read_csv('zippedData/rt.movie_info.tsv.gz', delimiter='\t', encoding='ISO-8859-1')

In [17]:
rt

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1555,1996,Forget terrorists or hijackers -- there's a ha...,R,Action and Adventure|Horror|Mystery and Suspense,NaN,NaN,"Aug 18, 2006","Jan 2, 2007",$,"33,886,034",106 minutes,New Line Cinema
1556,1997,The popular Saturday Night Live sketch was exp...,PG,Comedy|Science Fiction and Fantasy,Steve Barron,Terry Turner|Tom Davis|Dan Aykroyd|Bonnie Turner,"Jul 23, 1993","Apr 17, 2001",NaN,NaN,88 minutes,Paramount Vantage
1557,1998,"Based on a novel by Richard Powell, when the l...",G,Classics|Comedy|Drama|Musical and Performing Arts,Gordon Douglas,NaN,"Jan 1, 1962","May 11, 2004",NaN,NaN,111 minutes,NaN
1558,1999,The Sandlot is a coming-of-age story about a g...,PG,Comedy|Drama|Kids and Family|Sports and Fitness,David Mickey Evans,David Mickey Evans|Robert Gunter,"Apr 1, 1993","Jan 29, 2002",NaN,NaN,101 minutes,NaN
1559,2000,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,"Sep 27, 2001","Feb 11, 2003",NaN,NaN,94 minutes,Columbia Pictures

In [18]:
rt.columns

Index(['id', 'synopsis', 'rating', 'genre', 'director', 'writer',
       'theater_date', 'dvd_date', 'currency', 'box_office', 'runtime',
       'studio'],
      dtype='object')

In [49]:
import pandas as pd
import numpy as np
import requests
import json

In [46]:
url = 'https://api.themoviedb.org/3/movie/550?api_key=0e72c0b2b11293a6390e9f7b472aec2b'
response = requests.get(url)

In [47]:
response.status_code

200

API Key (v3 auth) - 0e72c0b2b11293a6390e9f7b472aec2b
Example API Request - https://api.themoviedb.org/3/movie/550?api_key=0e72c0b2b11293a6390e9f7b472aec2b
API Read Access Toekn (v4 auth) - eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwZTcyYzBiMmIxMTI5M2E2MzkwZTlmN2I0NzJhZWMyYiIsInN1YiI6IjVmYTlhY2Y1YTQwMmMxMDAzZjM3M2ViOCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.GswgWcVjFtAmNJBkM1KZNCEP3nKD1JHTwwgXW-NU74o

In [51]:
r = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=0e72c0b2b11293a6390e9f7b472aec2b&language=en-US&page=1')

In [52]:
r

In [54]:
j = r.json()

In [55]:
j

{'page': 1,
 'total_results': 7966,
 'total_pages': 399,
 'results': [{'popularity': 11.995,
   'id': 724089,
   'video': False,
   'vote_count': 920,
   'vote_average': 8.9,
   'title': "Gabriel's Inferno Part II",
   'release_date': '2020-07-31',
   'original_language': 'en',
   'original_title': "Gabriel's Inferno Part II",
   'genre_ids': [10749],
   'backdrop_path': '/jtAI6OJIWLWiRItNSZoWjrsUtmi.jpg',
   'adult': False,
   'overview': "Professor Gabriel Emerson finally learns the truth about Julia Mitchell's identity, but his realization comes a moment too late. Julia is done waiting for the well-respected Dante specialist to remember her and wants nothing more to do with him. Can Gabriel win back her heart before she finds love in another's arms?",
   'poster_path': '/pci1ArYW7oJ2eyTo2NMYEKHHiCP.jpg'},
  {'popularity': 12.45,
   'vote_count': 1529,
   'video': False,
   'poster_path': '/oyG9TL7FcRP4EZ9Vid6uKzwdndz.jpg',
   'id': 696374,
   'adult': False,
   'backdrop_path': '/969BfPHGJcjg2aUv60g5uiiXFzf.jpg',
   'original_language': 'en',
   'original_title': "Gabriel's Inferno",
   'genre_ids': [10749],
   'title': "Gabriel's Inferno",
   'vote_average': 8.8,
   'overview': "An intriguing and sinful exploration of seduction, forbidden love, and redemption, Gabriel's Inferno is a captivating and wildly passionate tale of one man's escape from his own personal hell as he tries to earn the impossible--forgiveness and love.",
   'release_date': '2020-05-29'},
  {'popularity': 23.172,
   'vote_count': 256,
   'video': False,
   'poster_path': '/riAooJrFvVhotyaOgoI0WR7okSe.jpg',
   'id': 644479,
   'adult': False,
   'backdrop_path': '/8g1rUabKleLvovt0Sx6bXgWfC42.jpg',
   'original_language': 'es',
   'original_title': 'Dedicada a mi ex',
   'genre_ids': [35, 18],
   'title': 'Dedicated to my ex',
   'vote_average': 8.7,
   'overview': 'The film tells the story of Ariel, a 21-year-old who decides to form a rock band to compete for a prize of ten thousand dollars in a musical band contest, this as a last option when trying to get money to save their relationship and reunite with his ex-girlfriend, which breaks due to the trip she must make to Finland for an internship. Ariel with her friend Ortega, decides to make a casting to find the other members of the band, although they do not know nothing about music, thus forming a band with members that have diverse and opposite personalities.',
   'release_date': '2019-11-01'},
  {'popularity': 57.28,
   'vote_count': 17472,
   'video': False,
   'poster_path': '/5KCVkau1HEl7ZzfPsKAPM0sMiKc.jpg',
   'id': 278,
   'adult': False,
   'backdrop_path': '/iNh3BivHyg5sQRPP1KOkzguEX0H.jpg',
   'original_language': 'en',
   'original_title': 'The Shawshank Redemption',
   'genre_ids': [18, 80],
   'title': 'The Shawshank Redemption',
   'vote_average': 8.7,
   'overview': 'Framed in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -- including an older prisoner named Red -- for his integrity and unquenchable sense of hope.',
   'release_date': '1994-09-23'},
  {'popularity': 17.364,
   'vote_count': 2418,
   'video': False,
   'poster_path': '/2CAL2433ZeIihfX1Hb2139CX0pW.jpg',
   'id': 19404,
   'adult': False,
   'backdrop_path': '/svYzz6A6xleZv5toTLAhigXd1DX.jpg',
   'original_language': 'hi',
   'original_title': 'दिलवाले दुल्हनिया ले जायेंगे',
   'genre_ids': [35, 18, 10749],
   'title': 'Dilwale Dulhania Le Jayenge',
   'vote_average': 8.7,
   'overview': 'Raj is a rich, carefree, happy-go-lucky second generation NRI. Simran is the daughter of Chaudhary Baldev Singh, who in spite of being an NRI is very strict about adherence to Indian values. Simran has left for India to be married to her childhood fiancé. Raj leaves for India with a mission at his hands, to claim his lady love under the noses of her whole family. Thus begins a saga.',
   'release_date': '1995-10-20'},
  {'popularity': 48.154,
   'vote_count': 13224,
   'video': False,
   'poster_path': '/3bhkrj58Vtu7enYsRolD1fZdja1.jpg',
   'id': 238,
   'adult': False,
   'backdrop_path': '/rSPw7tgCH9c6NqICZef4kZjFOQ5.jpg',
   'original_language': 'en',
   'original_title': 'The Godfather',
   'genre_ids': [18, 80],
   'title': 'The Godfather',
   'vote_average': 8.7,
   'overview': 'Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.',
   'release_date': '1972-03-14'},
  {'popularity': 31.382,
   'id': 424,
   'video': False,
   'vote_count': 10522,
   'vote_average': 8.6,
   'title': "Schindler's List",
   'release_date': '1993-11-30',
   'original_language': 'en',
   'original_title': "Schindler's List",
   'genre_ids': [18, 36, 10752],
   'backdrop_path': '/loRmRzQXZeqG78TqZuyvSlEQfZb.jpg',
   'adult': False,
   'overview': 'The true story of how businessman Oskar Schindler saved over a thousand Jewish lives from the Nazis while they worked as slaves in his factory during World War II.',
   'poster_path': '/c8Ass7acuOe4za6DhSattE359gr.jpg'},
  {'popularity': 130.76,
   'id': 372058,
   'video': False,
   'vote_count': 6590,
   'vote_average': 8.6,
   'title': 'Your Name.',
   'release_date': '2016-08-26',
   'original_language': 'ja',
   'original_title': '君の名は。',
   'genre_ids': [10749, 16, 18],
   'backdrop_path': '/mMtUybQ6hL24FXo0F3Z4j2KG7kZ.jpg',
   'adult': False,
   'overview': 'High schoolers Mitsuha and Taki are complete strangers living separate lives. But one night, they suddenly switch places. Mitsuha wakes up in Taki’s body, and he in hers. This bizarre occurrence continues to happen randomly, and the two must adjust their lives around each other.',
   'poster_path': '/q719jXXEzOoYaps6babgKnONONX.jpg'},
  {'popularity': 38.426,
   'id': 240,
   'video': False,
   'vote_count': 7845,
   'vote_average': 8.6,
   'title': 'The Godfather: Part II',
   'release_date': '1974-12-20',
   'original_language': 'en',
   'original_title': 'The Godfather: Part II',
   'genre_ids': [18, 80],
   'backdrop_path': '/poec6RqOKY9iSiIUmfyfPfiLtvB.jpg',
   'adult': False,
   'overview': 'In the continuing saga of the Corleone crime family, a young Vito Corleone grows up in Sicily and in 1910s New York. In the 1950s, Michael Corleone attempts to expand the family business into Las Vegas, Hollywood and Cuba.',
   'poster_path': '/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg'},
  {'popularity': 57.203,
   'id': 129,
   'video': False,
   'vote_count': 10361,
   'vote_average': 8.5,
   'title': 'Spirited Away',
   'release_date': '2001-07-20',
   'original_language': 'ja',
   'original_title': '千と千尋の神隠し',
   'genre_ids': [16, 10751, 14],
   'backdrop_path': '/mSDsSDwaP3E7dEfUPWy4J0djt4O.jpg',
   'adult': False,
   'overview': 'A young girl, Chihiro, becomes trapped in a strange new world of spirits. When her parents undergo a mysterious transformation, she must call upon the courage she never knew she had to free her family.',
   'poster_path': '/2TeJfUZMGolfDdW6DKhfIWqvq8y.jpg'},
  {'popularity': 349.659,
   'vote_count': 466,
   'video': False,
   'poster_path': '/zGVbrulkupqpbwgiNedkJPyQum4.jpg',
   'id': 592350,
   'adult': False,
   'backdrop_path': '/9guoVF7zayiiUq5ulKQpt375VIy.jpg',
   'original_language': 'ja',
   'original_title': '僕のヒーローアカデミア THE MOVIE ヒーローズ：ライジング',
   'genre_ids': [16, 28],
   'title': 'My Hero Academia: Heroes Rising',
   'vote_average': 8.5,
   'overview': "Class 1-A visits Nabu Island where they finally get to do some real hero work. The place is so peaceful that it's more like a vacation … until they're attacked by a villain with an unfathomable Quirk! His power is eerily familiar, and it looks like Shigaraki had a hand in the plan. But with All Might retired and citizens' lives on the line, there's no time for questions. Deku and his friends are the next generation of heroes, and they're the island's only hope.",
   'release_date': '2019-12-20'},
  {'popularity': 142.45,
   'vote_count': 9657,
   'video': False,
   'poster_path': '/7IiTTgloJzvGI1TAYymCfbfl3vT.jpg',
   'id': 496243,
   'adult': False,
   'backdrop_path': '/ApiBzeaa95TNYliSbQ8pJv4Fje7.jpg',
   'original_language': 'ko',
   'original_title': '기생충',
   'genre_ids': [35, 53, 18],
   'title': 'Parasite',
   'vote_average': 8.5,
   'overview': "All unemployed, Ki-taek's family takes peculiar interest in the wealthy and glamorous Parks for their livelihood until they get entangled in an unexpected incident.",
   'release_date': '2019-05-30'},
  {'popularity': 34.451,
   'vote_count': 11187,
   'video': False,
   'poster_path': '/velWPhVMQeQKcxggNEU8YmIo52R.jpg',
   'id': 497,
   'adult': False,
   'backdrop_path': '/5Nz25DPXfQaSpDgce42Y3kFg9G4.jpg',
   'original_language': 'en',
   'original_title': 'The Green Mile',
   'genre_ids': [14, 18, 80],
   'title': 'The Green Mile',
   'vote_average': 8.5,
   'overview': "A supernatural tale set on death row in a Southern prison, where gentle giant John Coffey possesses the mysterious power to heal people's ailments. When the cell block's head guard, Paul Edgecomb, recognizes Coffey's miraculous gift, he tries desperately to help stave off the condemned man's execution.",
   'release_date': '1999-12-10'},
  {'popularity': 6.546,
   'vote_count': 281,
   'video': False,
   'poster_path': '/zGGWYpiKNwjpKxelPxOMqJnUgDs.jpg',
   'id': 42269,
   'adult': False,
   'backdrop_path': '/bh6yfB6I1N1WuMiX6K5HxGVZnja.jpg',
   'original_language': 'it',
   'original_title': "C'eravamo tanto amati",
   'genre_ids': [35, 18],
   'title': 'We All Loved Each Other So Much',
   'vote_average': 8.5,
   'overview': 'Gianni, Nicola and Antonio become close friends in 1944 while fighting the Nazis. After the end of the war, full of illusions, they settle down. The movie is a the story of the life of these three idealists and how they deal with the inevitable disillusionments of life.',
   'release_date': '1974-12-21'},
  {'popularity': 46.579,
   'vote_count': 19839,
   'video': False,
   'poster_path': '/plnlrtBUULT0rh3Xsjmpubiso3L.jpg',
   'id': 680,
   'adult': False,
   'backdrop_path': '/w7RDIgQM6bLT7JXtH4iUQd3Iwxm.jpg',
   'original_language': 'en',
   'original_title': 'Pulp Fiction',
   'genre_ids': [53, 80],
   'title': 'Pulp Fiction',
   'vote_average': 8.5,
   'overview': "A burger-loving hit man, his philosophical partner, a drug-addled gangster's moll and a washed-up boxer converge in this sprawling, comedic crime caper. Their adventures unfurl in three stories that ingeniously trip back and forth in time.",
   'release_date': '1994-09-10'},
  {'popularity': 36.191,
   'id': 637,
   'video': False,
   'vote_count': 9441,
   'vote_average': 8.5,
   'title': 'Life Is Beautiful',
   'release_date': '1997-12-20',
   'original_language': 'it',
   'original_title': 'La vita è bella',
   'genre_ids': [35, 18],
   'backdrop_path': '/6aNKD81RHR1DqUUa8kOZ1TBY1Lp.jpg',
   'adult': False,
   'overview': 'A touching story of an Italian book seller of Jewish ancestry who lives in his own little fairy tale. His creative and happy life would come to an abrupt halt when his entire family is deported to a concentration camp during World War II. While locked up he tries to convince his son that the whole thing is just a game.',
   'poster_path': '/74hLDKjD5aGYOotO6esUVaeISa2.jpg'},
  {'popularity': 60.784,
   'id': 122,
   'video': False,
   'vote_count': 16498,
   'vote_average': 8.5,
   'title': 'The Lord of the Rings: The Return of the King',
   'release_date': '2003-12-01',
   'original_language': 'en',
   'original_title': 'The Lord of the Rings: The Return of the King',
   'genre_ids': [12, 14, 28],
   'backdrop_path': '/9DeGfFIqjph5CBFVQrD6wv9S7rR.jpg',
   'adult': False,
   'overview': "Aragorn is revealed as the heir to the ancient kings as he, Gandalf and the other members of the broken fellowship struggle to save Gondor from Sauron's forces. Meanwhile, Frodo and Sam take the ring closer to the heart of Mordor, the dark lord's realm.",
   'poster_path': '/rCzpDGLbOoPwLjy3OAm5NUPOTrC.jpg'},
  {'popularity': 42.03,
   'vote_count': 19182,
   'video': False,
   'poster_path': '/clolk7rB5lAjs41SD0Vt6IXYLMm.jpg',
   'id': 13,
   'adult': False,
   'backdrop_path': '/7c9UVPPiTPltouxRVY6N9uugaVA.jpg',
   'original_language': 'en',
   'original_title': 'Forrest Gump',
   'genre_ids': [35, 18, 10749],
   'title': 'Forrest Gump',
   'vote_average': 8.5,
   'overview': 'A man with a low IQ has accomplished great things in his life and been present during significant historic events—in each case, far exceeding what anyone imagined he could do. But despite all he has achieved, his one true love eludes him.',
   'release_date': '1994-07-06'},
  {'popularity': 20.961,
   'id': 311,
   'video': False,
   'vote_count': 3258,
   'vote_average': 8.5,
   'title': 'Once Upon a Time in America',
   'release_date': '1984-05-23',
   'original_language': 'en',
   'original_title': 'Once Upon a Time in America',
   'genre_ids': [18, 80],
   'backdrop_path': '/z1s7ASlypXYGeMLoJ2Np4CpWdzd.jpg',
   'adult': False,
   'overview': 'A former Prohibition-era Jewish gangster returns to the Lower East Side of Manhattan over thirty years later, where he once again must confront the ghosts and regrets of his old life.',
   'poster_path': '/hBDHr3YihnuL46aeyEMhTchXkZP.jpg'},
  {'popularity': 73.57,
   'vote_count': 23630,
   'video': False,
   'poster_path': '/qJ2tW6WMUDux911r6m7haRef0WH.jpg',
   'id': 155,
   'adult': False,
   'backdrop_path': '/hkBaDkMWbLaf8B1lsWsKX7Ew3Xq.jpg',
   'original_language': 'en',
   'original_title': 'The Dark Knight',
   'genre_ids': [18, 28, 80, 53],
   'title': 'The Dark Knight',
   'vote_average': 8.5,
   'overview': 'Batman raises the stakes in his war on crime. With the help of Lt. Jim Gordon and District Attorney Harvey Dent, Batman sets out to dismantle the remaining criminal organizations that plague the streets. The partnership proves to be effective, but they soon find themselves prey to a reign of chaos unleashed by a rising criminal mastermind known to the terrified citizens of Gotham as the Joker.',
   'release_date': '2008-07-16'}]}

In [58]:
for n in range(0,400):
    
#     url='https://api.themoviedb.org/3/movie/top_rated?api_key=0e72c0b2b11293a6390e9f7b472aec2b&language=en-US&page={}’.format(n)

SyntaxError: EOL while scanning string literal (<ipython-input-58-dbc3b97552d6>, line 2)

In [56]:
# {
#   "page": 1,
#   "total_results": 7966,
#   "total_pages": 399,
#   "results": [
#     {
#       "popularity": 11.995,
#       "id": 724089,
#       "video": false,
#       "vote_count": 920,
#       "vote_average": 8.9,
#       "title": "Gabriel's Inferno Part II",
#       "release_date": "2020-07-31",
#       "original_language": "en",
#       "original_title": "Gabriel's Inferno Part II",
#       "genre_ids": [
#         10749
#       ],
#       "backdrop_path": "/jtAI6OJIWLWiRItNSZoWjrsUtmi.jpg",
#       "adult": false,
#       "overview": "Professor Gabriel Emerson finally learns the truth about Julia Mitchell's identity, but his realization comes a moment too late. Julia is done waiting for the well-respected Dante specialist to remember her and wants nothing more to do with him. Can Gabriel win back her heart before she finds love in another's arms?",
#       "poster_path": "/pci1ArYW7oJ2eyTo2NMYEKHHiCP.jpg"
#     },
#     {
#       "popularity": 12.45,
#       "vote_count": 1529,
#       "video": false,
#       "poster_path": "/oyG9TL7FcRP4EZ9Vid6uKzwdndz.jpg",
#       "id": 696374,
#       "adult": false,
#       "backdrop_path": "/969BfPHGJcjg2aUv60g5uiiXFzf.jpg",
#       "original_language": "en",
#       "original_title": "Gabriel's Inferno",
#       "genre_ids": [
#         10749
#       ],
#       "title": "Gabriel's Inferno",
#       "vote_average": 8.8,
#       "overview": "An intriguing and sinful exploration of seduction, forbidden love, and redemption, Gabriel's Inferno is a captivating and wildly passionate tale of one man's escape from his own personal hell as he tries to earn the impossible--forgiveness and love.",
#       "release_date": "2020-05-29"
#     },
#     {
#       "popularity": 23.172,
#       "vote_count": 256,
#       "video": false,
#       "poster_path": "/riAooJrFvVhotyaOgoI0WR7okSe.jpg",
#       "id": 644479,
#       "adult": false,
#       "backdrop_path": "/8g1rUabKleLvovt0Sx6bXgWfC42.jpg",
#       "original_language": "es",
#       "original_title": "Dedicada a mi ex",
#       "genre_ids": [
#         35,
#         18
#       ],
#       "title": "Dedicated to my ex",
#       "vote_average": 8.7,
#       "overview": "The film tells the story of Ariel, a 21-year-old who decides to form a rock band to compete for a prize of ten thousand dollars in a musical band contest, this as a last option when trying to get money to save their relationship and reunite with his ex-girlfriend, which breaks due to the trip she must make to Finland for an internship. Ariel with her friend Ortega, decides to make a casting to find the other members of the band, although they do not know nothing about music, thus forming a band with members that have diverse and opposite personalities.",
#       "release_date": "2019-11-01"
#     },
#     {
#       "popularity": 57.28,
#       "vote_count": 17472,
#       "video": false,
#       "poster_path": "/5KCVkau1HEl7ZzfPsKAPM0sMiKc.jpg",
#       "id": 278,
#       "adult": false,
#       "backdrop_path": "/iNh3BivHyg5sQRPP1KOkzguEX0H.jpg",
#       "original_language": "en",
#       "original_title": "The Shawshank Redemption",
#       "genre_ids": [
#         18,
#         80
#       ],
#       "title": "The Shawshank Redemption",
#       "vote_average": 8.7,
#       "overview": "Framed in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -- including an older prisoner named Red -- for his integrity and unquenchable sense of hope.",
#       "release_date": "1994-09-23"
#     },
#     {
#       "popularity": 17.364,
#       "vote_count": 2418,
#       "video": false,
#       "poster_path": "/2CAL2433ZeIihfX1Hb2139CX0pW.jpg",
#       "id": 19404,
#       "adult": false,
#       "backdrop_path": "/svYzz6A6xleZv5toTLAhigXd1DX.jpg",
#       "original_language": "hi",
#       "original_title": "दिलवाले दुल्हनिया ले जायेंगे",
#       "genre_ids": [
#         35,
#         18,
#         10749
#       ],
#       "title": "Dilwale Dulhania Le Jayenge",
#       "vote_average": 8.7,
#       "overview": "Raj is a rich, carefree, happy-go-lucky second generation NRI. Simran is the daughter of Chaudhary Baldev Singh, who in spite of being an NRI is very strict about adherence to Indian values. Simran has left for India to be married to her childhood fiancé. Raj leaves for India with a mission at his hands, to claim his lady love under the noses of her whole family. Thus begins a saga.",
#       "release_date": "1995-10-20"
#     },
#     {
#       "popularity": 48.154,
#       "vote_count": 13224,
#       "video": false,
#       "poster_path": "/3bhkrj58Vtu7enYsRolD1fZdja1.jpg",
#       "id": 238,
#       "adult": false,
#       "backdrop_path": "/rSPw7tgCH9c6NqICZef4kZjFOQ5.jpg",
#       "original_language": "en",
#       "original_title": "The Godfather",
#       "genre_ids": [
#         18,
#         80
#       ],
#       "title": "The Godfather",
#       "vote_average": 8.7,
#       "overview": "Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family. When organized crime family patriarch, Vito Corleone barely survives an attempt on his life, his youngest son, Michael steps in to take care of the would-be killers, launching a campaign of bloody revenge.",
#       "release_date": "1972-03-14"
#     },
#     {
#       "popularity": 31.382,
#       "id": 424,
#       "video": false,
#       "vote_count": 10522,
#       "vote_average": 8.6,
#       "title": "Schindler's List",
#       "release_date": "1993-11-30",
#       "original_language": "en",
#       "original_title": "Schindler's List",
#       "genre_ids": [
#         18,
#         36,
#         10752
#       ],
#       "backdrop_path": "/loRmRzQXZeqG78TqZuyvSlEQfZb.jpg",
#       "adult": false,
#       "overview": "The true story of how businessman Oskar Schindler saved over a thousand Jewish lives from the Nazis while they worked as slaves in his factory during World War II.",
#       "poster_path": "/c8Ass7acuOe4za6DhSattE359gr.jpg"
#     },
#     {
#       "popularity": 130.76,
#       "id": 372058,
#       "video": false,
#       "vote_count": 6590,
#       "vote_average": 8.6,
#       "title": "Your Name.",
#       "release_date": "2016-08-26",
#       "original_language": "ja",
#       "original_title": "君の名は。",
#       "genre_ids": [
#         10749,
#         16,
#         18
#       ],
#       "backdrop_path": "/mMtUybQ6hL24FXo0F3Z4j2KG7kZ.jpg",
#       "adult": false,
#       "overview": "High schoolers Mitsuha and Taki are complete strangers living separate lives. But one night, they suddenly switch places. Mitsuha wakes up in Taki’s body, and he in hers. This bizarre occurrence continues to happen randomly, and the two must adjust their lives around each other.",
#       "poster_path": "/q719jXXEzOoYaps6babgKnONONX.jpg"
#     },
#     {
#       "popularity": 38.426,
#       "id": 240,
#       "video": false,
#       "vote_count": 7845,
#       "vote_average": 8.6,
#       "title": "The Godfather: Part II",
#       "release_date": "1974-12-20",
#       "original_language": "en",
#       "original_title": "The Godfather: Part II",
#       "genre_ids": [
#         18,
#         80
#       ],
#       "backdrop_path": "/poec6RqOKY9iSiIUmfyfPfiLtvB.jpg",
#       "adult": false,
#       "overview": "In the continuing saga of the Corleone crime family, a young Vito Corleone grows up in Sicily and in 1910s New York. In the 1950s, Michael Corleone attempts to expand the family business into Las Vegas, Hollywood and Cuba.",
#       "poster_path": "/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg"
#     },
#     {
#       "popularity": 57.203,
#       "id": 129,
#       "video": false,
#       "vote_count": 10361,
#       "vote_average": 8.5,
#       "title": "Spirited Away",
#       "release_date": "2001-07-20",
#       "original_language": "ja",
#       "original_title": "千と千尋の神隠し",
#       "genre_ids": [
#         16,
#         10751,
#         14
#       ],
#       "backdrop_path": "/mSDsSDwaP3E7dEfUPWy4J0djt4O.jpg",
#       "adult": false,
#       "overview": "A young girl, Chihiro, becomes trapped in a strange new world of spirits. When her parents undergo a mysterious transformation, she must call upon the courage she never knew she had to free her family.",
#       "poster_path": "/2TeJfUZMGolfDdW6DKhfIWqvq8y.jpg"
#     },
#     {
#       "popularity": 349.659,
#       "vote_count": 466,
#       "video": false,
#       "poster_path": "/zGVbrulkupqpbwgiNedkJPyQum4.jpg",
#       "id": 592350,
#       "adult": false,
#       "backdrop_path": "/9guoVF7zayiiUq5ulKQpt375VIy.jpg",
#       "original_language": "ja",
#       "original_title": "僕のヒーローアカデミア THE MOVIE ヒーローズ：ライジング",
#       "genre_ids": [
#         16,
#         28
#       ],
#       "title": "My Hero Academia: Heroes Rising",
#       "vote_average": 8.5,
#       "overview": "Class 1-A visits Nabu Island where they finally get to do some real hero work. The place is so peaceful that it's more like a vacation … until they're attacked by a villain with an unfathomable Quirk! His power is eerily familiar, and it looks like Shigaraki had a hand in the plan. But with All Might retired and citizens' lives on the line, there's no time for questions. Deku and his friends are the next generation of heroes, and they're the island's only hope.",
#       "release_date": "2019-12-20"
#     },
#     {
#       "popularity": 142.45,
#       "vote_count": 9657,
#       "video": false,
#       "poster_path": "/7IiTTgloJzvGI1TAYymCfbfl3vT.jpg",
#       "id": 496243,
#       "adult": false,
#       "backdrop_path": "/ApiBzeaa95TNYliSbQ8pJv4Fje7.jpg",
#       "original_language": "ko",
#       "original_title": "기생충",
#       "genre_ids": [
#         35,
#         53,
#         18
#       ],
#       "title": "Parasite",
#       "vote_average": 8.5,
#       "overview": "All unemployed, Ki-taek's family takes peculiar interest in the wealthy and glamorous Parks for their livelihood until they get entangled in an unexpected incident.",
#       "release_date": "2019-05-30"
#     },
#     {
#       "popularity": 34.451,
#       "vote_count": 11187,
#       "video": false,
#       "poster_path": "/velWPhVMQeQKcxggNEU8YmIo52R.jpg",
#       "id": 497,
#       "adult": false,
#       "backdrop_path": "/5Nz25DPXfQaSpDgce42Y3kFg9G4.jpg",
#       "original_language": "en",
#       "original_title": "The Green Mile",
#       "genre_ids": [
#         14,
#         18,
#         80
#       ],
#       "title": "The Green Mile",
#       "vote_average": 8.5,
#       "overview": "A supernatural tale set on death row in a Southern prison, where gentle giant John Coffey possesses the mysterious power to heal people's ailments. When the cell block's head guard, Paul Edgecomb, recognizes Coffey's miraculous gift, he tries desperately to help stave off the condemned man's execution.",
#       "release_date": "1999-12-10"
#     },
#     {
#       "popularity": 6.546,
#       "vote_count": 281,
#       "video": false,
#       "poster_path": "/zGGWYpiKNwjpKxelPxOMqJnUgDs.jpg",
#       "id": 42269,
#       "adult": false,
#       "backdrop_path": "/bh6yfB6I1N1WuMiX6K5HxGVZnja.jpg",
#       "original_language": "it",
#       "original_title": "C'eravamo tanto amati",
#       "genre_ids": [
#         35,
#         18
#       ],
#       "title": "We All Loved Each Other So Much",
#       "vote_average": 8.5,
#       "overview": "Gianni, Nicola and Antonio become close friends in 1944 while fighting the Nazis. After the end of the war, full of illusions, they settle down. The movie is a the story of the life of these three idealists and how they deal with the inevitable disillusionments of life.",
#       "release_date": "1974-12-21"
#     },
#     {
#       "popularity": 46.579,
#       "vote_count": 19839,
#       "video": false,
#       "poster_path": "/plnlrtBUULT0rh3Xsjmpubiso3L.jpg",
#       "id": 680,
#       "adult": false,
#       "backdrop_path": "/w7RDIgQM6bLT7JXtH4iUQd3Iwxm.jpg",
#       "original_language": "en",
#       "original_title": "Pulp Fiction",
#       "genre_ids": [
#         53,
#         80
#       ],
#       "title": "Pulp Fiction",
#       "vote_average": 8.5,
#       "overview": "A burger-loving hit man, his philosophical partner, a drug-addled gangster's moll and a washed-up boxer converge in this sprawling, comedic crime caper. Their adventures unfurl in three stories that ingeniously trip back and forth in time.",
#       "release_date": "1994-09-10"
#     },
#     {
#       "popularity": 36.191,
#       "id": 637,
#       "video": false,
#       "vote_count": 9441,
#       "vote_average": 8.5,
#       "title": "Life Is Beautiful",
#       "release_date": "1997-12-20",
#       "original_language": "it",
#       "original_title": "La vita è bella",
#       "genre_ids": [
#         35,
#         18
#       ],
#       "backdrop_path": "/6aNKD81RHR1DqUUa8kOZ1TBY1Lp.jpg",
#       "adult": false,
#       "overview": "A touching story of an Italian book seller of Jewish ancestry who lives in his own little fairy tale. His creative and happy life would come to an abrupt halt when his entire family is deported to a concentration camp during World War II. While locked up he tries to convince his son that the whole thing is just a game.",
#       "poster_path": "/74hLDKjD5aGYOotO6esUVaeISa2.jpg"
#     },
#     {
#       "popularity": 60.784,
#       "id": 122,
#       "video": false,
#       "vote_count": 16498,
#       "vote_average": 8.5,
#       "title": "The Lord of the Rings: The Return of the King",
#       "release_date": "2003-12-01",
#       "original_language": "en",
#       "original_title": "The Lord of the Rings: The Return of the King",
#       "genre_ids": [
#         12,
#         14,
#         28
#       ],
#       "backdrop_path": "/9DeGfFIqjph5CBFVQrD6wv9S7rR.jpg",
#       "adult": false,
#       "overview": "Aragorn is revealed as the heir to the ancient kings as he, Gandalf and the other members of the broken fellowship struggle to save Gondor from Sauron's forces. Meanwhile, Frodo and Sam take the ring closer to the heart of Mordor, the dark lord's realm.",
#       "poster_path": "/rCzpDGLbOoPwLjy3OAm5NUPOTrC.jpg"
#     },
#     {
#       "popularity": 42.03,
#       "vote_count": 19182,
#       "video": false,
#       "poster_path": "/clolk7rB5lAjs41SD0Vt6IXYLMm.jpg",
#       "id": 13,
#       "adult": false,
#       "backdrop_path": "/7c9UVPPiTPltouxRVY6N9uugaVA.jpg",
#       "original_language": "en",
#       "original_title": "Forrest Gump",
#       "genre_ids": [
#         35,
#         18,
#         10749
#       ],
#       "title": "Forrest Gump",
#       "vote_average": 8.5,
#       "overview": "A man with a low IQ has accomplished great things in his life and been present during significant historic events—in each case, far exceeding what anyone imagined he could do. But despite all he has achieved, his one true love eludes him.",
#       "release_date": "1994-07-06"
#     },
#     {
#       "popularity": 20.961,
#       "id": 311,
#       "video": false,
#       "vote_count": 3258,
#       "vote_average": 8.5,
#       "title": "Once Upon a Time in America",
#       "release_date": "1984-05-23",
#       "original_language": "en",
#       "original_title": "Once Upon a Time in America",
#       "genre_ids": [
#         18,
#         80
#       ],
#       "backdrop_path": "/z1s7ASlypXYGeMLoJ2Np4CpWdzd.jpg",
#       "adult": false,
#       "overview": "A former Prohibition-era Jewish gangster returns to the Lower East Side of Manhattan over thirty years later, where he once again must confront the ghosts and regrets of his old life.",
#       "poster_path": "/hBDHr3YihnuL46aeyEMhTchXkZP.jpg"
#     },
#     {
#       "popularity": 73.57,
#       "vote_count": 23630,
#       "video": false,
#       "poster_path": "/qJ2tW6WMUDux911r6m7haRef0WH.jpg",
#       "id": 155,
#       "adult": false,
#       "backdrop_path": "/hkBaDkMWbLaf8B1lsWsKX7Ew3Xq.jpg",
#       "original_language": "en",
#       "original_title": "The Dark Knight",
#       "genre_ids": [
#         18,
#         28,
#         80,
#         53
#       ],
#       "title": "The Dark Knight",
#       "vote_average": 8.5,
#       "overview": "Batman raises the stakes in his war on crime. With the help of Lt. Jim Gordon and District Attorney Harvey Dent, Batman sets out to dismantle the remaining criminal organizations that plague the streets. The partnership proves to be effective, but they soon find themselves prey to a reign of chaos unleashed by a rising criminal mastermind known to the terrified citizens of Gotham as the Joker.",
#       "release_date": "2008-07-16"
#     }
#   ]
# }

NameError: name 'false' is not defined

In [ ]:
# MY_API_KEY = "0e72c0b2b11293a6390e9f7b472aec2b"

# # term = 'bagels'
# # location = 'Bergen County'
# SEARCH_LIMIT = 50

# url = 'https://api.themoviedb.org/3/movie/550?api_key=0e72c0b2b11293a6390e9f7b472aec2b'

# headers = {
#         'Authorization': 'Bearer {}'.format(MY_API_KEY),
#     }

# url_params = {
#                 'term': term.replace(' ', '+'),
#                 'location': location.replace(' ', '+'),
#                 'limit': SEARCH_LIMIT
#             }
# response_bagels = requests.get(url, headers=headers, params=url_params)