In [75]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import time
import random
import re
from collections import Counter

In [35]:
headers = {"Accept-Language": "en-US, en;q=0.5"}
url = 'https://www.the-numbers.com/market/2019/top-grossing-movies'
results = requests.get(url, headers=headers)
soup = BeautifulSoup(results.content, "html.parser")

In [53]:
table = soup.find("table")
links = [a.text for a in table.find_all('a')[:1000]]
numbers = [a.text for a in table.find_all('td', class_='data')[:750]]
print(links[0])
print(numbers[0])
df = pd.DataFrame(np.array(links).reshape(-1,4), columns = ['Movie', 'Release Date', 'Distributor', 'Genre'])
df2 = pd.DataFrame(np.array(numbers).reshape(-1, 3), columns = ['Rank', '2019 Gross', 'Tickets Sold'])

Avengers: Endgame
1

In [81]:
budget_links = [a['href'] for a in table.find_all('a')[:1000:4]]
print(len(budget_links))
figures_list = []
#    for link in budget_links:
 #       url = 'https://www.the-numbers.com{}'.format(link)
  #      results = requests.get(url, headers=headers)
  #      soup = BeautifulSoup(results.content, "html.parser")
  #     div = soup.find('div', {'id': 'summary'})
   #     figures = div.find_all(string=re.compile("\$\d+"))
   #     figures_list.append(figures[:3])

250

In [54]:
print(df.head())

               Movie  Release Date  Distributor      Genre
0  Avengers: Endgame  Apr 26, 2019  Walt Disney     Action
1      The Lion King  Jul 19, 2019  Walt Disney  Adventure
2          Frozen II  Nov 22, 2019  Walt Disney  Adventure
3        Toy Story 4  Jun 21, 2019  Walt Disney  Adventure
4     Captain Marvel   Mar 8, 2019  Walt Disney     Action

In [55]:
print(df2.head())

  Rank    2019 Gross Tickets Sold
0    1  $858,373,000   94,223,161
1    2  $543,638,043   59,674,868
2    3  $450,439,533   49,444,515
3    4  $434,038,008   47,644,128
4    5  $426,829,839   46,852,891

In [58]:
df3 = pd.concat([df, df2], axis = 1)
df3.head()

,Movie,Release Date,Distributor,Genre,Rank,2019 Gross,Tickets Sold
0,Avengers: Endgame,"Apr 26, 2019",Walt Disney,Action,1,"$858,373,000","94,223,161"
1,The Lion King,"Jul 19, 2019",Walt Disney,Adventure,2,"$543,638,043","59,674,868"
2,Frozen II,"Nov 22, 2019",Walt Disney,Adventure,3,"$450,439,533","49,444,515"
3,Toy Story 4,"Jun 21, 2019",Walt Disney,Adventure,4,"$434,038,008","47,644,128"
4,Captain Marvel,"Mar 8, 2019",Walt Disney,Action,5,"$426,829,839","46,852,891"

In [ ]:
df3.to_csv()

In [ ]:
headers = {"Accept-Language": "en-US, en;q=0.5"}
url = 'https://www.the-numbers.com/market/2018/top-grossing-movies'
results = requests.get(url, headers=headers)
soup = BeautifulSoup(results.content, "html.parser")

In [4]:
df1 = pd.read_csv('tmdb_popular.csv')

In [ ]:
df2 = pd.read_csv('top_1000_by_us_box_office.csv')

In [5]:
df1.head()

,Unnamed: 0,popularity,vote_count,video,poster_path,id,adult,backdrop_path,original_language,original_title,genre_ids,title,vote_average,overview,release_date
0,0,3778.011,60,False,/h8Rb9gBr48ODIwYUttZNYeMWeUU.jpg,635302,False,/xoqr4dMbRJnzuhsWDF3XNHQwJ9x.jpg,ja,劇場版「鬼滅の刃」無限列車編,"[16, 28, 36, 12, 14, 18]",Demon Slayer: Kimetsu no Yaiba - The Movie: Mu...,6.3,"Tanjirō Kamado, joined with Inosuke Hashibira,...",2020-10-16
1,1,2403.297,569,False,/betExZlgK0l7CZ9CsCBVcwO1OjL.jpg,531219,False,/8rIoyM6zYXJNjzGseT3MRusMPWl.jpg,en,Roald Dahl's The Witches,"[14, 10751, 12, 35, 27]",Roald Dahl's The Witches,7.1,"In late 1967, a young orphaned boy goes to liv...",2020-10-26
2,2,2303.555,105,False,/ugZW8ocsrfgI95pnQ7wrmKDxIe.jpg,724989,False,/86L8wqGMDbwURPni2t7FQ0nDjsH.jpg,en,Hard Kill,"[28, 53]",Hard Kill,4.8,The work of billionaire tech CEO Donovan Chalm...,2020-10-23
3,3,1832.827,280,False,/7D430eqZj8y3oVkLFfsWXGRcpEG.jpg,528085,False,/5UkzNSOK561c2QRy2Zr4AkADzLT.jpg,en,2067,"[878, 53, 18]",2067,5.0,A lowly utility worker is called to the future...,2020-10-01
4,4,1414.570,112,False,/zfdhsR3Y3xw42OHrMpi0oBw0Uk8.jpg,741074,False,/DA7gzvlBoxMNL0XmGgTZOyv67P.jpg,en,Once Upon a Snowman,"[16, 10751, 35, 14]",Once Upon a Snowman,7.5,"The previously untold origins of Olaf, the inn...",2020-10-23